$light-yellow: #F1C685;
$pale-yellow: #FFFDEE;
$ivory-yellow: #FFFDEE;
$light-green: #CCD5AE;
$pale-green: #E9EDC9;

.App{
    height: 100vh;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: $ivory-yellow;
}

.note-collection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 25px 0 25px;
}
.note{
    background-color: $pale-green;
    display: flex;
    width: 750px;
    height: 100px;
    margin-bottom: 22px;
    list-style: none;
    &--edit-btn{
        width: 200px;
        height: 100px;
        background-color: $light-green;
        border: 1px;
    }
}
