header {
  nav {
    ul {
      display: flex;
      li {
        list-style: none;
        background-color: yellowgreen;
        border-radius: 10px 10px 0 0;

        padding: 1% 2%;
        margin: 0 1%;
      }
    }
  }
}
